nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 200px;
}
body{
    font-family: 'Open Sans', sans-serif;
}
.nav-title{
    font-size: 45px;
    font-weight: 800;
    color: black;
}
.text-primary{
    color:#FD6E0A;
}
nav > ul{
    display: flex;
    align-items: center;

}
nav li{
    list-style: none;
    margin-right: 50px;
    /* align-items: center; */

}
nav a{
    text-decoration: none;
    color: #474747;
}
.butt-pri{
    border-radius: 5px;
    background: #FD6E0A;
    border: 0;font-size: 20px;
    font-weight: 700;
    color: white;
    padding: 15px 35px;

}
.header{
    background-color:#FFF8F3;
    background-image: url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom right;
}
.banner{
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
   
}
.banner .pic{
    width: 500px;
}
.banner-1{
    font-size: 45px;
    color: #474747;
    margin-bottom: 0px;
}
.banner-2{
    font-size: 85px;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 20px;
}
.banner-content{
    max-width: 500px;
    /* justify-content: space-between; */
}
.about{
    padding: 130px;
    border-radius: 10px;
    background: #FFF8F3;
    margin: 130px 0px;
}
.section-title{
    color: #181818;
 text-align: center;
 font-size: 35px;
 font-weight: 700;
}
.section-description{
color:#757575;
text-align: center;
font-size: 18px;
}